{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <div style="margin-left:-25%">
        Auction Results
    </div>
{% endblock %}

{% block content %}

<div class="container" style="margin-left:-25%">
    <div class="row">
        <div class="col-md-8">
    {% if player.participate %}
        {% if player.sold %}
            <p>Congratulations, your object has been bought for {{ player.offer }} ECUS.</p>

            <p>You now have {{ player.money }} ECUs.</p>
        {% else %}
            <p>Sorry, your object was not bought for {{ player.offer }} ECUs by the buyer.</p>

            <p>You still have {{ player.money }} ECUs</p>
        {% endif %}
    {% else %}
        <p>You did not participate in this auction.</p>
        <p>You still have {{ player.money }} ECUs.</p>

    {% endif %}
        </div>
        <div class="col-md-4">
            {% include 'LeepsCRP/Table1_1.html' %}
        </div>
    </div>
</div>   

<div style="margin-left:-25%">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
</div>

{% endblock %}
