{% extends "LeepsCRP/Page.html" %}
{% load otree static %}

{% block title %}
    <div id="shiftleft">
        Auction Results
    </div>
{% endblock %}

{% block content %}

    <div class="container zoom" id="shiftleft">
        <div class="row">
            <div class="col-md-8">
                {% include 'LeepsCRP/BuyerMessage.html' %}
            </div>

            <div class="col-md-4">
                {% include 'LeepsCRP/Table.html' %}
            </div>
        </div>

        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Submit</button>
    </div>

{% endblock %}
