{% extends "global/Page.html" %}
{% load static otree %}

{% block app_styles %}

    <style type="text/css">
        input[type="radio"] {
            margin-right: 5px;
        }

        button[type="button"] {
            background-color:#157EFB;
            color:white;
            border-radius: 5px;
            height:45px;
        }

        button[type="button"]:hover {
            background-color: #116CD5;
        }

        input[type="number"] {
            width:125px;
        }

        #shiftleft {
            margin-left:-15%;
        }

        .zoom {
            zoom:75%
        }

    </style>
{% endblock %}