{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Seller
{% endblock %}

{% block content %}
    <div>
        <h5>Auction type: Price Cap</h5>

        <hr/>

        <p>
            Your cost: {{ player.cost }}
            <br/>
            Price cap: {{ player.priceCap }}
        </p>

        <p>Do you want to participate?</p>


        <!--
        <div>
            <button type="button" name="participate" value="True" class="btn btn-primary btn-large">Yes</button>
            <button type="button" name="participate" value="False" class="btn btn-primary btn-large">No</button>
        </div>
        -->
        {% formfield player.participate with label="" %}

        {% formfield player.offer label="Enter your Offer:" %}

        {{ form.participate.errors }}
    </div>

    {% next_button %}
{% endblock %}
