{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <div style="margin-left:-25%">
        Seller
    </div>
{% endblock %}

{% block content %}
<div class="container" style="margin-left:-25%">
    <div class="row">
        <div class="col-md-8">
            <h5>Auction type: Reference Price</h5>

            <hr/>

            <p>
                Your cost: {{ player.cost }}
                <br/>
                Reference Price (Estimated Cost): {{ player.estimatedCost }}
            </p>

            <p>Score Formula: {{ score_formula }}</p>

            <hr/>

            <p>Do you want to participate?</p>

            {% formfield player.participate with label="" %}

            {% formfield player.offer label="Enter your Offer:" %}

            {{ form.participate.errors }}

            <hr/>

            <p>You have the option to buy additional benefits points. Please select one
            of the choices below:</p>

            {% formfield player.benefits_choice with label="" %}
        </div>
        <div class="col-md-4">
            {% include 'LeepsCRP/Table1_1.html' %}       
        </div>
    </div>
</div>

    <div style="margin-left:-25%">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>
{% endblock %}
