{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <div style="margin-left:-25%">
        Seller
    </div>
{% endblock %}

{% block content %}
    <div class="container" style="margin-left:-25%">
        <div class="row">
            <div class="col-md-8">
                <h5>Auction type: Price Cap</h5>

                <hr/>

                <p>
                    Your cost: {{ player.cost }}
                    <br/>
                    Price cap: {{ player.priceCap }}
                </p>

                <p>Price Cap Formula: {{ general_cap_formula }}
                    <br/>
                    Price Cap: {{ player_cap_formula }}
                </p>
                <p>Score Formula: {{ score_formula }} </p>

                <hr/>

                {% if player.priceCap < player.cost %}
                    <p style="border:4px; border-style:solid; border-color:#FF0000; padding: 1em;">
                        WARNING: Since your price cap is less than your cost,
                        the only number of ECUs you can offer is your price cap.
                        If you do decide to participate and the buyer
                        purchases your object, you will lose ECUs.
                    </p>
                {% endif %}


                <p>Do you want to participate?</p>

                {% formfield player.participate with label="" %}

                {% formfield player.offer label="Enter your Offer:" %}

                {{ form.participate.errors }}

                <hr/>

                <p>You have the option to buy additional benefits points. Please select one
                of the choices below:</p>

                {% formfield player.benefits_choice with label="" %}

            </div>
            <div class="col-md-4">
                {% include 'LeepsCRP/Table1_1.html' %}
            </div>
        </div>
    </div>

    <div style="margin-left:-25%">
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>
{% endblock %}