{% extends "LeepsCRP/Page.html" %}
{% load otree static %}

{% block title %}
    <div id="shiftleft">
        Seller
    </div>
{% endblock %}

{% block content %}

    <div class="container" id="shiftleft">
        <div class="row">
            <div class="col-md-8">
                <h5>Auction type: Price Cap</h5>

                <hr/>

                <p>
                    Your cost: {{ player.cost }}
                    <br/>
                    Price cap: {{ player.priceCap }}
                </p>

                <p>Score Formula: {{ score_formula }} </p>

                <hr/>

                {% if player.priceCap < player.cost %}
                    <p style="border:4px; border-style:solid; border-color:#FF0000; padding: 1em;">
                        WARNING: Since your price cap is less than your cost,
                        the only number of ECUs you can offer is your price cap.
                        If you do decide to participate and the buyer
                        purchases your object, you will lose ECUs.
                    </p>
                {% endif %}

                {% include 'LeepsCRP/Form.html' %}

                <hr/>
            </div>

            <div class="col-md-4">
                {% include 'LeepsCRP/Table1_1.html' %}
            </div>
        </div>

        <button type="button" onclick="return getScore()">Preview Score</button><br/><br/>
        <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function getScore() {
            var offer = document.getElementById('inputted_offer').value;
            var validInput = true;

            if (offer == "") {
                validInput = false;
                alert('You must enter a valid offer to preview your score.');
            }

            else if (!(document.getElementById('choice1').checked || document.getElementById('choice2').checked
                || document.getElementById('choice3').checked)) {
                    validInput = false;
                    alert("You must decide how many additional benefits" +
                          " points you want to purchase to preview your score.");
            }

            if (validInput) {
                var score = 150 - offer;

                if (document.getElementById('choice1').checked) {
                    score += 15;
                }

                else if (document.getElementById('choice1').checked) {
                    score += 30
                }

                alert("Your score is " + score + ".");
            }
        }
    </script>
{% endblock %}
