{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    seller
{% endblock %}

{% block content %}
	<p>You have been given a unit. You can choose to sell, or not sell this unit.</p>
	<p>This unit has a value of {{ unitPrice }}, and a quality of {{ unitQuality }} </p>
	<p>Choose a price to sell your unit at.</p>
	{% formfield player.sellPrice with label=""%}
	<p>You also have the option to increase the quality by 10 at a cost of 4, or 
	by 20 at a cost of 6.
	</p>
	{% formfield player.qualityIncrease with label=""%}

    {% next_button %}

{% endblock %}
