{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Seller
{% endblock %}

{% block content %}
    <div>
        <h5>Auction type: Price Cap</h5>

        <hr/>

        <p>
            Your cost: {{ player.cost }}
            <br/>
            Price cap: {{ player.priceCap }}
        </p>

        <p>Score Formula: {{ score_formula }} </p>

        <p>Do you want to participate?</p>

        {% formfield player.participate with label="" %}

        {% formfield player.offer label="Enter your Offer:" %}

        {{ form.participate.errors }}

        <p>You have the option to buy additional benefits points. Please select one
        of the choices below:</p>

        {% formfield player.benefits_choice with label="" %}
    </div>

    {% next_button %}
{% endblock %}
