{% load otree static %}

{% block title %}
    Your Round History
{% endblock %}

{% block content %}

    <table class="table">
        <tr>
            <th>Round</th>
            <th>Cost</th>
            {% if player.priceCap != None %}
                <th>Price Cap</th>
            {% else %}
                <th>Reference Price</th>
            {% endif %}
            <th>Offer</th>
            <th>Maximum Accepted Offer</th>
            <th>Number of Participants</th>
            <th>Sold?</th>
            <th>Profit</th>
        </tr>

        {% if player.showCurrRound %}
            {% for p in player.in_all_rounds %}
                <tr>
                    <td>{{ p.round_number }}</td>
                    <td>{{ p.cost }}</td>
                    {% if p.priceCap != None %}
                        <td>{{ p.priceCap }}</td>
                    {% else %}
                        <td>{{ p.refPrice }}</td>
                    {% endif %}
                    <td>{{ p.offer }}</td>
                    <td>{{ p.max_accepted_offer }}</td>
                    <td>{{ p.numParticipants }}</td>
                {% if p.sold %}
                    <td><p>Yes</p></td>
                {% else %}
                    <td><p>No</p></td>
                {% endif %}
                    <td>{{ p.profit }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for p in player.in_previous_rounds %}
                <tr>
                    <td>{{ p.round_number }}</td>
                    <td>{{ p.cost }}</td>
                    {% if p.priceCap != None %}
                        <td>{{ p.priceCap }}</td>
                    {% else %}
                        <td>{{ p.refPrice }}</td>
                    {% endif %}
                    <td>{{ p.offer }}</td>
                    <td>{{ p.max_accepted_offer }}</td>
                    <td>{{ p.numParticipants }}</td>
                {% if p.sold %}
                    <td><p>Yes</p></td>
                {% else %}
                    <td><p>No</p></td>
                {% endif %}
                    <td>{{ p.profit }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

{% endblock %}